@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
.box{
  border:grey;

}
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background:rgb(241, 213, 160);
  background-size: cover;
}
::placeholder{
  color:rgb(255, 255, 255);
  margin-left: 10 px;
  font-size: 18px ;
}
.login-box{
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #0c410e;
  border: green;

}
.login-box h1{
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #4caf50;
  margin-bottom: 50px;
  padding: 13px 0;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 40px;
  padding: 8px 0;
  margin: 8px 0;
  margin-left: 2 px;
  border-bottom: 3px solid #4caf50;
}
.textbox i{
  width: 30px;
  height: 1px;
 
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color:white;
  font-size: 22px;
  width: 80%;
  margin: 0 13px;
}
.btn{
  width: 100%;
  background: none;
  border: 2px solid #4caf50;
  color: white;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
  margin: 10px 0;
}
.dropDown{
  width: 100%;
  background:none;
  border: 2px solid #4caf50;
  
  color:black;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
  margin: 12px 0;
}
.logo {
  height: 40vmin;
}

.upload_area{
  height: 200px !important;
position: relative;
border: 3px solid green;
}

#sidebar{
  position: fixed;
  width:200px;
  height: 1000%;
  background: black;
  /* left:-200px; */
  transition: all 500ms linear;
  
}

#sidebar.active{
  left:0px;
}
#sidebar ul li{
  color:white;
  list-style: none;
  padding:30px 30px;
  border-bottom: 1px solid white;

}
#sidebar .toggle-btn{
  position: absolute;
  left:230px;
  top:20px;

}
#sidebar .toggle-btn span{
display:block;
width:30px;
height:  5px;
background:black;
margin:5px 0px;
}

.wrap{
  height:100px;
  margin-left: 20%;
  margin-top: 30px;

}
.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .6);
  transition:0.4s;
  width:300px;
 text-align: left;
 font-size:16px;
 font-family: sans-serif;
 float: left;
 margin:10px;
 
 border-radius: 20%;
}
.card:hover{
  box-shadow:0 8px 16px 0 rgba(0, 0, 0, .6) ;

}
.container{
padding:2px 16px;  
}

input[type=checkbox]{
  margin-left: 80%;
  width: 20px;
  height: 20px;
 
 
}
ul{
  direction:rtl;
}
li{
  margin-right:20px;
}